Source: ros-hydro-rosruby-tutorials
Section: misc
Priority: extra
Maintainer: Takashi Ogura <t.ogura@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-actionlib-tutorials, ros-hydro-catkin, ros-hydro-genrb, ros-hydro-geometry-msgs, ros-hydro-message-generation, ros-hydro-rosruby, ros-hydro-std-msgs
Homepage: http://ros.org/wiki/rosruby_tutorials
Standards-Version: 3.9.2

Package: ros-hydro-rosruby-tutorials
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-actionlib-tutorials, ros-hydro-geometry-msgs, ros-hydro-message-runtime, ros-hydro-rosruby, ros-hydro-rosruby-actionlib, ros-hydro-std-msgs
Description: rosruby_tutorials contains source codes of rosruby tutorials.
